body {
	margin: 0px; text-align: center; background-color: rgb(62, 62, 238);
}
body div {
	margin: auto;
}
#contenedor {
	background: url("imagenes/contenedorFondoverde.jpg"); top: 100%; width: 100%; position: relative;
}
#contenedorArriba {
	background: url("imagenes/contenedorArriba.jpg"); width: 801px; height: 11px;
}
#contenedorCuerpo {
	width: 100%; text-align: left; position: relative;
}
#contenedorAbajo {
	background: url("imagenes/contenedorArriba.jpg"); width: 801px; height: 10px; clear: both;
}
#cuadro {
	background: url("imagenes/cuadro.gif"); width: 761px; height: 116px; text-align: left; margin-top: 6px;
}
#slogan {
	font: bold 18px/normal Tahoma, sans-serif; left: 200px; width: 400px; color: rgb(62, 62, 238); margin-left: 40px; font-size-adjust: none; font-stretch: normal;
}
#logo {
	font: bold 24px/normal Tahoma, sans-serif; left: 230px; top: 50%; width: 200px; color: rgb(0, 99, 56); position: absolute; font-size-adjust: none; font-stretch: normal;
}
#cuerpo {
	margin: 20px;
}
#izquierdo {
	width: 150px; float: left;
}
#derecho {
	width: 580px; text-align: justify; vertical-align: top; float: right;
}
#menu {
	font: bold 15px/normal Tahoma, sans-serif; font-size-adjust: none; font-stretch: normal;
}
#menu ul {
	list-style: none; margin: 0px; padding: 0px;
}
#menu li {
	display: inline;
}
#menu a {
	padding: 5px 15px; color: rgb(0, 99, 56); text-decoration: none; border-bottom-color: rgb(0, 99, 56); border-bottom-width: 1px; border-bottom-style: solid; display: block; background-color: rgb(237, 207, 61);
}
#menu a:hover {
	background: rgb(255, 255, 255); color: rgb(0, 99, 56);
}
#menu .active a {
	background: rgb(186, 186, 186); color: rgb(0, 0, 0);
}
.titulo {
	font: bold 18px/normal Tahoma, sans-serif; color: rgb(237, 100, 19); font-size-adjust: none; font-stretch: normal;
}
.subTitulo {
	font: bold 14px/normal Tahoma, sans-serif; color: rgb(237, 100, 19); font-size-adjust: none; font-stretch: normal;
}
.textoNormal {
	color: rgb(153, 153, 153); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 40px;
}
#design {
	top: 50px; color: rgb(255, 255, 255); clear: both; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; position: relative;
}
#design a {
	color: rgb(255, 255, 255); text-decoration: none;
}
